<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>
  <div id="wrapper">
    <header>
      <h1>Oliver Pfeffer</h1>
      <h3>Husband, Father, iOS and Front-End Developer</h3>
    </header>
    <main>
      {{ content}}
    </main>
  </div>
</body>

</html>